.ui-grid {
    border: none;
    text-align:center;
    font-size: 12px;
}

.ui-grid-header-cell {
    border: none;
    background: #555;
    color: #fff;
    height: 30px;
    /*top:3px;*/
}

.ui-grid-cell {
    overflow: visible;
    z-index: 99999;
}

.ui-grid-cell, ui-select-wrap {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ui-grid-render-container-body .ui-grid-header-viewport {
    background: #555;
}

.ui-grid-row .ui-grid-cell {
    border: none;
}

.ui-grid-render-container-body .ui-grid-viewport {
    /*overflow-x: hidden !important;*/
}

.ui-grid-pager-panel {
    background: #eee;
    font-size: .8em;
}

.ui-grid-pager-control .ui-grid-pager-max-pages-number {

    display: inline-block;
}

.ui-grid-pager-control input {
    height: 13px;
}

.grid-msg-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.grid-msg-overlay .msg {
    opacity: 1;
    position: absolute;
    top: 20%;
    left: 20%;
    width: 60%;
    height: 25%;
    background-color: #eee;
    border-radius: 4px;
    border: 1px solid #555;
    text-align: center;
    font-size: 24px;
    display: table;
}

.grid-msg-overlay .msg span {
    display: table-cell;
    vertical-align: middle;
}

.ui-grid-cell-focus {
    outline: 0;
    background-color: #b3c4c7;
}

.ui-grid-menu-button {
    z-index: 2;
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    border: 0px solid #d4d4d4;

}

.ui-grid-menu-button i{
    color:white;
}

input[type="text"].ui-grid-filter-input {
    color:black;
}

.ui-grid-filter-container { display: none!important; }

.ui-grid-row.ui-grid-row-selected > [ui-grid-row] > .ui-grid-cell {
    background-color: lightgrey;
}