<div class="row main">

<i class="fa fa-user icon-login" aria-hidden="true"></i>

    <div class="main-login main-center">
        <form class="form-horizontal" method="post" action="#">

            <div class="form-group">
                <label for="email" class="cols-sm-2 control-label">Seu Email</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" name="email" id="email" placeholder="Enter your Email" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="password" class="cols-sm-2 control-label">Senha</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                        <input type="password" class="form-control" name="password" id="password" placeholder="Enter your Password" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="confirm" class="cols-sm-2 control-label">Supervisor</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user-circle fa-lg" aria-hidden="true"></i></span>
                        <select class="form-control">
						  <option>12313132 - Jorge Vasconcelos de Assis</option>
						  <option>28678678 - João Souza</option>
						  <option>39879877 - Maria Joaquina</option>
						  <option>45645444 - Joaquina Maria de Albuquerque</option>
						  <option>56546666 - Cirilo de Souza</option>
						  <option>45313132 - Mercedez do Bairro</option>
						  <option>45678678 - Silvio Abravanel dos Santos</option>
						  <option>45879877 - Teresa Silveira</option>
						  <option>45645444 - Pedro Marmita</option>
						  <option>45546666 - Fernando Augusto Itamar ferreira Santos de Albuquerque</option>
						  <option>99913132 - Johnny João</option>
						  <option>99978678 - Alexandre Pires</option>
						  <option>99979877 - Rafael Jacarandá</option>
						  <option>99945444 - Jesisley Uitinei Riuston</option>
						  <option>99946666 - Manuel Pereira Prado</option>
						  <option>99913132 - Victor Assis</option>
						  <option>99978678 - Júlio de Tras dos Montes</option>
						  <option>99979877 - Jeremias Augusto</option>
						  <option>99945444 - Mathias de Souza</option>
						  <option>99946666 - Richard Strass</option>
						</select>

                    </div>
                </div>
            </div>
            <div class="form-group ">
                <button type="button" class="btn btn-primary btn-lg btn-block login-button" ng-click="login()">Login</button>
            </div>
        </form>
    </div>
</div>

<style type="text/css">
	
.icon-login{
	    margin: 0 auto;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 170px;
    opacity: .2;
}

.form-group {
  margin-bottom: 15px;
}

label {
  margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
  font-size: 11px;
  padding-top: 3px;
}

.main-center {
margin: 0 auto;
  max-width: 70%;
  padding-right: 20px;
}

.login-button {
  margin-top: 5px;
}

.login-register {
  font-size: 11px;
  text-align: center;
}

</style>