<div class="row">
    <panel title="Crescimento de vendas" icon="fa-angle-double-up" height="95" col="12">
        <c3chart bindto-id="stacked-bar-plot1-chart" chart-data="dadosGraficos" chart-columns="dadosGraficosColunas" chart-x="datax">
            <chart-size chart-height="550" />
            <chart-axes values-x="x" />
            <chart-axis>
                <chart-axis-x axis-position="outer-center" axis-label="" axis-type="category" />
            </chart-axis>
            <chart-bar ratio="0.8" />
        </c3chart>
    </panel>
    
</div>
