<div class="modal-header bg-primary" style="background-color:#333">
    <button type="button" class="bootbox-close-button close white" data-dismiss="modal" aria-hidden="true"
            style="margin-top: -10px;" ng-click="close()">×
    </button>
    <h4>Replicar</h4>

</div>


    <div class="row">
        <div class="col-sm-12">
            <div ui-grid="gridReplicas" ui-grid-edit ui-grid-resize-columns ui-grid-selection ui-grid-move-columns></div>
        </div>
    </div>
    </br>

<div class="modal-footer">
    <button data-bb-handler="confirm" type="button" class="btn btn-primary"
            ng-click="close()">Replicar
    </button>
    <button data-bb-handler="confirm" type="button" class="btn btn-danger"
            ng-click="excluirReplicasSelecionadas()">Excluir
    </button>
</div>