<style>
    .links h4 {
        margin-top: 10px;
        margin-left: 30%;
        margin-bottom: 2px
    }
    .links h4:last-child {
        margin-bottom: 20px;
    }
    .links p {
        font-size: 50px;
        padding-left: 30%;
    }
    .links h2 {
        margin-top: 10px;
        margin-left: 10px;
    }
</style>
<div class="row content-row">
    <div class="col-sm-3 links">
        <h2>Area Restrita</h2>
        <p>
            <i class="fa fa-lock"></i>
        </p>
        <h4>link1</h4>
        <h4>link1</h4>
        <h4>link1</h4>
        <h4>link1</h4>
    </div>
    <div class="col-sm-3 links">
        <h2>Area Restrita</h2>
        <p>
            <i class="fa fa-lock"></i>
        </p>
        <h4>link1</h4>
        <h4>link1</h4>
        <h4>link1</h4>
        <h4>link1</h4>
    </div>
    <div class="col-sm-3 links">
        <h2>Area Restrita</h2>
        <p>
            <i class="fa fa-lock"></i>
        </p>
        <h4>link1</h4>
        <h4>link1</h4>
        <h4>link1</h4>
        <h4>link1</h4>
    </div>
    <div class="col-sm-3 links">
        <h2>Area Restrita</h2>
        <p>
            <i class="fa fa-lock"></i>
        </p>
        <h4>link1</h4>
        <h4>link1</h4>
        <h4>link1</h4>
        <h4>link1</h4>
    </div>
</div>