<!--<div class="row box-drop-links">
    <div class="row links">
        <div class="col-sm-12">
            <div class="" ng-repeat="categoria in categoriaLinks">
                <div class="col-sm-3" ng-if="$index % 2 == 0">
                    <p class="titulo">{{categoria.nome}}</p>
                    <p>
                        <i class="{{categoria.icone}}"></i>
                    </p>
                    <div ng-repeat="link in categoria.links ">
                        <p>{{link.titulo}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row links">
        <div class="col-sm-12">
            <div ng-repeat="categoria in categoriaLinks">
                <div class="col-sm-3" ng-if="$index % 2 != 0">
                    <p class="titulo">{{categoria.nome}}</p>
                    <p>
                        <i class="{{categoria.icone}}"></i>
                    </p>
                    <div ng-repeat="link in categoria.links ">
                        <p>{{link.titulo}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->

<div class="row box-drop-links ">
    <div class="row links">
        <div class="col-sm-12">
            <div>
                <div class="col-sm-3">
                    <p style="margin-left: 40px" class="titulo">Acesso Restrito</p>
                    <p>
                        <i class="fa fa-lock"></i>
                    </p>
                    <div>
                        <p>ZTLV18 - Administração Menu</p>
                    </div>
                    <div>
                        <p>ZTLV14 - Cadastro Concorrentes LB e Revenda</p>
                    </div>
                    <div>
                        <p>ZTLV19 - Cadastro Ação Promocional e Mapa da Mina</p>
                    </div>
                    <div>
                        <p>ZTLV15 - Texos Fixos - Simulação e OV</p>
                    </div>
                    <div>
                        <p>ZTLV20 - TAB PRE Atribuir Marca e Categoria</p>
                    </div>
                    <div>
                        <p>ZTLV11 - ZROUTE</p>
                    </div>
                    <div>
                        <p>ZTABP - Gerar de tabela de Preço</p>
                    </div>
                    <div>
                        <p>ZEXEC - Exceção de materiais - TAB preço</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="col-sm-2">
                    <p class="titulo">Atividades</p>
                    <p>
                        <i class="fa fa-newspaper-o"></i>
                    </p>
                    <div>
                        <p>ZTLV22 - Criar Providência</p>
                    </div>
                    <div>
                        <p>ZC10 - Relatório de atividades</p>
                    </div>
                    <div>
                        <p>MM03 - Cadastro de Produto</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="col-sm-2">
                    <p class="titulo">Ordem/NF</p>
                    <p>
                        <i class="fa fa-shopping-basket"></i>
                    </p>
                    <div>
                        <p>ZV20 - Lista Ordem</p>
                    </div>
                    <div>
                        <p>ZV40 - Lista Ordem Orig.</p>
                    </div>
                    <div>
                        <p>VA01 - Criar Ordem R3</p>
                    </div>
                    <div>
                        <p>VA02 - Alterar Ordem R3</p>
                    </div>
                    <div>
                        <p>ZVC16 - Ordens Faturadas</p>
                    </div>
                    <div>
                        <p>ZSTR14 - Posição de Entrega</p>
                    </div>
                    <div>
                        <p>J1B3N - Exibir NF</p>
                    </div>
                    <div>
                        <p>ZSTR52 - Rel de ocorrências</p>
                    </div>
                    <div>
                        <p>ZSER - Consulta nº série do Produto</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="col-sm-2">
                    <p class="titulo">Cred/Cob</p>
                    <p>
                        <i class="fa fa-calculator"></i>
                    </p>
                    <div>
                        <p>FBL6N - Partidas Individuais</p>
                    </div>
                    <div>
                        <p>ZFI46 - Crédito do Cliente - Média </p>
                    </div>
                    <div>
                        <p>FD33 - Crédito do Cliente</p>
                    </div>
                    <div>
                        <p>ZFE15 - Rel. Fretes Contas RE</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="col-sm-2">
                    <p class="titulo">Verbas</p>
                    <p>
                        <i class="fa fa-usd"></i>
                    </p>
                    <div>
                        <p>CJ37 - Empenho da verbas</p>
                    </div>
                    <div>
                        <p>CJ30 - 1º Empenho na Campanha</p>
                    </div>
                    <div>
                        <p>CJ31 - Consulta de verbas</p>
                    </div>
                    <div>
                        <p>CJ20N - Criar Campanha</p>
                    </div>
                    <div>
                        <p>ZPSR1 - Extrato Detalhado PEP</p>
                    </div>
                    <div>
                        <p>ZTLV10G - Consulta Bonificação</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row links">
        <div class="col-sm-12">
            <div>
                <div class="col-sm-3 ">
                    <p style="margin-left: 55px" class="titulo ">Cliente</p>
                    <p>
                        <i class="fa fa-user"></i>
                    </p>
                    <div>
                        <p class="">XD03 - Consulta Cadastro Cliente</p>
                    </div>
                    <div>
                        <p class="">ZTLV09 - Relação de Telefones</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="col-sm-2 ">
                    <p class="titulo ">Estoque</p>
                    <p>
                        <i class="fa fa-inbox"></i>
                    </p>
                    <div>
                        <p class="">ZVSCE17 - Sintese de Estoque</p>
                    </div>
                    <div>
                        <p class="">ZMBE - Consulta Estoque</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="col-sm-2 ">
                    <p class="titulo ">Meta/Var</p>
                    <p>
                        <i class="fa fa-signal"></i>
                    </p>
                    <div>
                        <p class="">ZV57 - Informações Gerenciais</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="col-sm-2 ">
                    <p class="titulo ">Preço</p>
                    <p>
                        <i class="fa fa-money"></i>
                    </p>
                    <div>
                        <p class="">ZTLV21 – Solicitações de Lista de Preços</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
