<div class="row box-drop-links">
    <div class="row links">
        <div class="col-sm-12">
            <div ng-repeat="categoria in categoriaLinks">
                <div class="col-sm-3" ng-if="$index % 2 == 0">
                    <p class="titulo">{{categoria.nome}}</p>
                    <p>
                        <i class="{{categoria.icone}}"></i>
                    </p>
                    <div ng-repeat="link in categoria.links ">
                        <p>{{link.titulo}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row links">
        <div class="col-sm-12">
            <div ng-repeat="categoria in categoriaLinks">
                <div class="col-sm-3" ng-if="$index % 2 != 0">
                    <p class="titulo">{{categoria.nome}}</p>
                    <p>
                        <i class="{{categoria.icone}}"></i>
                    </p>
                    <div ng-repeat="link in categoria.links ">
                        <p>{{link.titulo}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
