<div class="row">
    <panel title="Dados Entrega" icon="fa-truck" height="47" col="3">
        <panel-actions>
            <button type="button" class="btn btn-blue btn-xs" ng-click="editarDadosEntrega()"><i class="fa fa-pencil"
                                                                                                    aria-hidden="true"></i>
            </button>
        </panel-actions>
        <dl class="dl-flex">
            <dt>Data Entrega</dt>
            <dd>{{selectedClient.simulacao.dadosEntrega.dataEntrega | date : 'dd/MM/yyyy'}}</dd>
            <dt>Data Remessa</dt>
            <dd>{{selectedClient.simulacao.dadosEntrega.dataRemessa | date : 'dd/MM/yyyy'}}</dd>
            <dt>Dias Conc.</dt>
            <dd>{{selectedClient.simulacao.dadosEntrega.diasCont}}</dd>
            <dt># Pedido</dt>
            <dd>{{selectedClient.simulacao.dadosEntrega.pedido}}</dd>
            <dt>Úsuario</dt>
            <dd>{{user.nome}}</dd>
            <dt>Volumetria</dt>
            <dd>0.4 M³</dd>
            <dt>Voltagem</dt>
            <dd>220V</dd>
        </dl>
    </panel>
    <panel title="Histórico" icon="fa-history" height="47" col="3">
        <h3 class="title-gray-block">Pontuais
            <button type="button" class="btn btn-success btn-xs note-plus" ng-click="adicionarPontual()"><i
                    class="fa fa-plus-circle" aria-hidden="true"></i></button>

        </h3>
        <ul class="notes" ng-repeat="pontual in simulacaoPontuais">
            <li>
                <button type="button" class="bootbox-close-button close white" data-dismiss="modal"
                        aria-hidden="true"
                        style="margin-top: -10px;" ng-click="removePontual(pontual)">×
                </button>
                <span class="text">{{pontual.texto}}</span>
                <div class="date">{{pontual.data | date:'dd.MM.yyyy'}}</div>
                <div class="noteuser">{{pontual.user.abreviado}}</div>
            </li>
        </ul>
    </panel>
    <panel title="Últimas Simulações" icon="fa-sort-amount-asc" height="47" col="6">
        <panel-actions>
            <button type="button" class="btn btn-default btn-xs" ng-click="gotoDev()"><i class="fa fa-search"
                                                                                         aria-hidden="true"></i> Filtro
                por SKU
            </button>
        </panel-actions>
       <div ui-grid="gridUltimasSimulacoes" class="grid-ultimas-simulacoes" ui-grid-resize-columns ui-grid-move-columns></div>
    </panel>
</div>
<div class="row">
    <panel title="Itens da Simulação" icon="fa-table" height="56" col="12">
        <panel-actions>
                 <div class="row">
                     <div class="col-sm-12">
                         <label>Bonif.%</label>
                         <input style="width: 40px" class="input-xs" type="text" placeholder="">
                         <input style="width: 80px" class="input-xs" type="text" placeholder="">
                         <button type="button" class="btn btn-default btn-xs" ng-click="replicar()"><i class="fa fa-reply"
                                                                                                       aria-hidden="true"></i>
                             Replicar
                         </button>
                         <button type="button" class="btn btn btn-xs" ng-click="imprimir()"><i class="fa fa-print"
                                                                                                       aria-hidden="true"></i>
                             Imprimir
                         </button>
                         <button type="button" class="btn btn-success btn-xs" ng-click="gotoDev()"><i class="fa fa-floppy-o"
                                                                                                      aria-hidden="true"></i>
                             Salvar
                         </button>
                         <button type="button" class="btn btn-danger btn-xs" ng-click="efetivarOv()"><i class="fa fa-exchange"
                                                                                                     aria-hidden="true"></i>
                             Efetivar O.V
                         </button>
                         <!--  <button type="button" class="btn btn-info btn-xs" ng-click="gotoDev()"><i class="fa fa-download" aria-hidden="true"></i> Exportar</button> -->
                         <button type="button" class="btn btn-warning btn-xs" ng-click="gotoDev()"><i class="fa fa-file-o"
                                                                                                      aria-hidden="true"></i>
                             Nova Simulação
                         </button>
                     </div>
                 </div>
        </panel-actions>
        <div ui-grid="gridMateriais" ui-grid-edit class="grid-materias" ui-grid-resize-columns ui-grid-move-columns></div>
        <!-- <table class="table table-hover">
             &lt;!&ndash; <caption>Monthly Kills</caption> &ndash;&gt;
             <thead class="thead-bold">
                 <tr>
                     <th>#</th>
                     <th>Material</th>
                     <th>Cor</th>
                     <th>Voltagem</th>
                     <th>Cond. Pagt</th>
                     <th>Qnt</th>
                     <th>%ALT</th>
                     <th>PVL</th>
                     <th>Cond. Frete</th>
                     <th>VL Frete</th>
                     <th>VL NF Unit</th>
                     <th>VL ICMS</th>
                     <th>VL IPI</th>
                     <th>Centro Exp.</th>
                 </tr>
             </thead>
             <tbody>
                 <tr ng-repeat="material in listaMateriais">
                     <td>{{material.id}}</td>
                     <td>{{material.codigo}}</td>
                     <td>{{material.cor}}</td>
                     <td>{{material.voltagem}}</td>
                     <td>{{material.condicaoPagamento}}</td>
                     <td>{{material.quatidade}}</td>
                     <td>{{material.alt}}</td>
                     <td>{{material.pvl}}</td>
                     <td>{{material.condicaoFrente}}</td>
                     <td>{{material.valorFrete}}</td>
                     <td>{{material.valorNotaFiscalUnitario}}</td>
                     <td>{{material.valorICMS}}</td>
                     <td>{{material.valorIPI}}</td>
                     <td>{{material.centroExpList}}</td>
                 </tr>
             </tbody>
         </table>-->
    </panel>
</div>
